<div fxLayout="column" fxLayoutAlign="center center">
    <h1>Login</h1>
    <form [formGroup]="signInGroup" #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective)">
        <div fxLayout="column" fxLayoutAlign="center center" class="formColumn">
            <mat-form-field>
                <mat-label>E-mail</mat-label>
                <input matInput formControlName="email" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>wachtwoord</mat-label>
                <input matInput type='password' type="password" formControlName="password" required>
            </mat-form-field>
            <div class="forgotPassword hover">
                <span routerLink="/wachtwoord-vergeten">wachtwoord vergeten?</span>
            </div>
            <button mat-flat-button color="primary" type="submit" [disabled]="!signInGroup.valid" class='formSubmitButton'>Versturen</button>
        </div>
    </form>  
</div>
