<mat-form-field>
    <mat-label>Kies jaar</mat-label>
    <select matNativeControl (selectionChange)="changeYear($event.value)">
        <option *ngFor="let year of availableYears" [value]="year">
            {{year}}
        </option>
    </select>
</mat-form-field>

<table class="table">
    <tr>
        <th>plaats</th>
        <th>rijder</th>
        <th>gereden ritten</th>
        <th>gereden km </th>
    </tr>
    <tr *ngFor='let ranking of rankings'>
        <td>{{ranking.ranking}}</td>
        <td>{{ranking.user}}</td>
        <td>{{ranking.totalRides}}</td>
        <td>{{ranking.totalDistance}}</td>
    </tr>
</table>
