<div div fxLayout="row" fxLayout.xs = "column" fxLayoutAlign="space-around start">
    <mat-form-field>
        <mat-label>Kies jaar</mat-label>
        <select matNativeControl (selectionChange)="changeYear($event.value)">
            <option *ngFor="let year of availableYears" [value]="year">
                {{year}}
            </option>
        </select>
    </mat-form-field>
    <table class="table">
        <tr>
            <th>plaats</th>
            <th>rijder</th>
            <th>gereden ritten</th>
            <th>gereden km </th>
        </tr>
        <tr *ngFor='let ranking of rankings'>
            <td [innerHTML]='ranking.ranking| medal' fxLayoutAlign="center none"></td>
            <td>
                <a class="noLinkLook" [routerLink]="['/user', ranking.user]" >
                {{ranking.user}}
                </a>
            </td>
            <td>{{ranking.totalRides}}</td>
            <td>{{ranking.totalDistance}}</td>
        </tr>
    </table>
</div>