<div fxLayout="column" fxLayoutAlign="center center">
    <h1>Vraag nieuw wachtwoord</h1>
    <form  [formGroup]="passwordGroup" #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective)">
        <div fxLayout="column" fxLayoutAlign="center center" class="formColumn">
            <mat-form-field>
                <mat-label>E-mail</mat-label>
                <input matInput formControlName="email" required>
            </mat-form-field>
            <button mat-flat-button color="primary" class="formSubmitButton"  type="submit" [disabled]="!passwordGroup.valid">nieuw paswoord</button>
        </div>
    </form>  
</div>