.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.topnav {
  margin-bottom: 10px;
}

.logo {
  margin: 0;
  height: 100%;
}

.hidden  { 
  display: none;
}

.toolbarHeight{
  height: 70px;
}

.fullRow{
  width: 100%;
}
