/* You can add global styles to this file, and also import other style files */
body 
    margin: 0

.mainContent
    margin: 25px 75px 25px 75px

@media screen and ( max-width: 426px )
    .mainContent
        margin: 5px 15px 5px 15px

        

    