
.clickActivity   
    width: 100%  

.activityContent
    padding: 10px 5px
    margin: 0

.noIcon
    margin-left: 14px

.activityBox
    margin: 15px 5px
    border: 1px solid black

#scrollableActivities
    overflow-y: auto





    
    
