.calenderContainer
    margin: 25px

.upcoming
    list-style-type: none
    padding: 0

.hover
    :hover
        cursor: pointer

.clickActivity   
    width: 100%
    

.activityContent
    border: 20px 5px
    padding: 10px 5px
    border: 1px solid black

#scrollableActivities
    overflow-y: auto

#activitiesMargin
    margin-left: 75px

@media only screen and (max-width: 426px) 
  #activitiesMargin
    margin-left: 0px
    
