.bikemapFrame
    border: 0px
    frameborder: 0px
    marginheight: 0px
    marginwidth: 0px

.frameNormal
   width: 425px
   height: 713px

@media only screen and (max-width: 425px) 
  .displaySmall
    display: none
